<nav>
  <span class="back"><span class="fa fa-chevron-left"></span></span>
  <div class="wrapper">
    <div class="head">
      <div class="add">
        <span class="logo">QUESTIONS</span>
        <span class="fa fa-plus-circle"></span>
      </div>
      <div class="options">
        <div class="select">
          <input type="radio"> My shelf
          <input type="radio"> All questions
        </div>
        <div class="sort">
          Sort by: recent or hot
        </div>
      </div> 
    </div>
  </div>
</nav>