<div class="add_panel_background" ng-show="vm.showUserModal || vmQ.showUserModal">
  <div class="add_form">
    <span class="fa fa-times" ng-click="vm.showUserModal = false; vmQ.showUserModal = false"></span>
    <div class="add_panel_wrapper">
      <div class="header">
      <img class="author_img" ng-src="{{modal.user.avatar}}">
      <span class="author">{{modal.user.name}}</span>
      <div class="info_about_user">
        <span class="info_text">MEMBER FOR {{modal.register_date | relativeDate}}</span>
        <span class="info_text">LAST SEEN Saturday afternoon</span>
        <span class="info_text">ACTIVITY LEVEL
          <span class="fa fa-certificate" ng-class="{'gain' : modal.user.activity_level >= 1 }"></span>
          <span class="fa fa-certificate" ng-class="{'gain' : modal.user.activity_level >= 2 }"></span>
          <span class="fa fa-certificate" ng-class="{'gain' : modal.user.activity_level >= 3 }"></span>
        </span>
      </div>
    </div>
    <div class="info">
      <div class="info_header">
        <span class="fa fa-chevron-left"></span>
        <div class="title">How it all started</div>
        <span class="fa fa-chevron-right"></span>
      </div>

      <span class="desc">
        That's where we have been these {{modal.register_date | relativeDate}}
      </span>

      <div class="amounts">
        <div class="box box45">
          <div class="numbers">46</div>
          <div class="box_desc">peers</div>
        </div>
        <div class="box30">
          <div class="numbers">46</div>
          <div class="box_desc">peers</div>
        </div>
        <div class="box15">
          <div class="numbers">46</div>
          <div class="box_desc">peers</div>
        </div>
        <div class="box60">
          <div class="numbers">46</div>
          <div class="box_desc">peers</div>
        </div>
      </div>

      <span class="desc">
        Who joined the platform that same period
      </span>

      <div class="persons">
        <div class="person_card">
          <div class="avatar">
            <img src="https://randomuser.me/api/portraits/men/90.jpg">
          </div>
          <span class="name">S.E.N. Waweru</span>
        </div>
        <div class="person_card">
          <div class="avatar">
            <img src="https://randomuser.me/api/portraits/men/90.jpg">
          </div>
          <span class="name">S.E.N. Waweru</span>
        </div>
        <div class="person_card">
          <div class="avatar">
            <img src="https://randomuser.me/api/portraits/men/90.jpg">
          </div>
          <span class="name">S.E.N. Waweru</span>
        </div>
      </div>

      <span class="desc">
        The hottest discussion these days
      </span>

      <div class="discussion">
        <div class="background">
          <div class="disc_avatar"><img src="https://randomuser.me/api/portraits/men/92.jpg"></div>
          <span class="author_disc">Andrew FOUND THE GUARDIAN ARTICLE</span>
          <span class="title">Vegan diet to stop siabetes</span>
          <div class="article_info add_panel_wrapper">
            <span class="info">6 peers involved</span>
            <span class="info">6 peers involved</span>
            <span class="info">6 peers involved</span>
            <span class="info">6 peers involved</span>
          </div>
        </div>
      </div>


    </div>
    </div>

  </div>
</div>
