@keyframes show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.add_panel_background {
	width: 100vw;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0,0,0, 0.7);
	z-index:1;


	&.hidden {
		display: none;
	}
}


.add_form {
	width: 80vw;
	height: 90vh;
	overflow: scroll;
	position: absolute;
	display: flex;
	flex-direction:column;
	top: 5vh;
	left: 10vw;
	z-index: 2;
	background-color: #fff;
	opacity: 1;
	border-radius: 5px;
	animation-duration: 0.5s;
    animation-name: show;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

    span.fa-times {
    	position: absolute;
		float: right;
		right: 10px;
		top: 10px;
		color: $darken_gray;
	}

	@media (max-width: 778px) {
		width: 90vw;
		left: 5vw;
	}

	span {
		padding-top: 20px;
	}

	img {
		width: 60px;
		height: 60px;
	}

	.fa {
		margin: 0;
		padding: 0;
	}
	.author_img {
		width: 80px;
		height: 80px;
	}

	.add_panel_wrapper {
		width: 80%;
		margin: 0 auto;
	}
	.gain {
		color: $blue-text;
	}


	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
		&:after {
			content: "";
			margin-top: 20px;
			border-bottom: 2px solid $gray;
			width: 100%;
		}
	}

	.author {
		color: $blue-text;
		font-size: 1.4em;
	}

	.info_about_user {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: baseline;

	}

	.fa-certificate {
		font-size: 2em;
		margin: 0 5px;
		padding: 0;
	}

	.info {
		display: flex;
		flex-direction: column;
		align-content: center;
		text-align: center;
	}

	.info_text {
		display: flex;
		align-items: center;
	}

	.info_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
	}

	.title {
		font-size: 3em;
	}

	.desc {
		text-transform: uppercase;
		margin: 30px 0;
	}

	.amounts {
		display: flex;
		justify-content: space-around;
	}





	$dag_list: 45 30 15 60;

	@each $var in $dag_list {
    .box#{$var}{
  		margin: 50px 0;
  		position: relative;


  		&:before {
  			content: "";
  		    position: absolute;
  		    background-color: $accent-color;
  		    width: 100px;
  		    height: 100px;
  		    top: -50%;
  		    left: -87.5%;
  		    z-index: -1;
  		    transform: rotate($var+deg);

  		}
  	}
	}

	.numbers {
		font-size: 1.5em;
	}

	.persons {
		display: flex;
		justify-content: center;
	}

	.person_card {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	.avatar {
		width: 100px;
		height: 100px;
		margin-bottom: 10px;
		background:url(

data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAO0lEQVQYV2NkIA5IMhKhThKo5jkhhWBFIMPwKYQrwqcQRREuhRiKsCnEqghdIU5FyArxKoIpJKgIpBAAj2kJJN6+lX8AAAAASUVORK5CYII=
    ) repeat;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.name {
		color: $blue-text;
	}

	.discussion {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 25px 0;

	}
	.background {
		background:url(

data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAO0lEQVQYV2NkIA5IMhKhThKo5jkhhWBFIMPwKYQrwqcQRREuhRiKsCnEqghdIU5FyArxKoIpJKgIpBAAj2kJJN6+lX8AAAAASUVORK5CYII=
    ) repeat;
		position: relative;
		display: flex;
		width: 80vw;
		flex-direction: column;
	}

	.disc_avatar {
		position: absolute;
		top: -30px;
		left: calc(50% - 30px);
	}

	.author_disc {
		margin-top: 25px;
	}

	.title {
		color: $blue-text;
	}

	.article_info {
		display: flex;
		justify-content: space-around;
		padding-bottom: 20px;
	}
}
