/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

$base-color: #fff;
$accent-color: #DEF3FC;
$gray: #EEEEEE;
$darken_gray: darken($gray, 20%);
$text-color: #000;
$text-color-light: lighten($text-color, 50%);
$blue-text: #0E66AE;

$tablet-breakout: 776px;
$phone-breakout: 425px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Agfa Rotis", Arial
}
@include font-face("Agfa Rotis", "../assets/fonts/Agfa-Rotis", $file-formats: eot ttf svg woff);
@include font-face("Agfa Rotis", "../assets/fonts/Agfa-Rotis-bold", bold, $file-formats: eot ttf svg woff);
@include font-face("Agfa Rotis", "../assets/fonts/Agfa-Rotis-italic", normal, italic, $file-formats: eot ttf svg woff);


.wrapper {
	width: 960px;
	margin: 0 auto;
	@media (max-width: $tablet-breakout) {
		width: 100vw;
	}
}

img {
	width: 60%;
	border-radius: 50%;
}

button {
	border: none;
	padding: 0;
	background-color: white;
}









/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
