/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

$base-color: #fff;
$accent-color: #DEF3FC;
$gray: #EEEEEE;
$darken_gray: darken($gray, 20%);
$text-color: #000;
$text-color-light: lighten($text-color, 50%);
$blue-text: #0E66AE;

$tablet-breakout: 776px;
$phone-breakout: 425px;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "HelveticaNeue-CondensedBold", Arial
}



.wrapper {
	width: 960px;
	margin: 0 auto;
	@media (max-width: $tablet-breakout) {
		width: 100vw;	
	}
}

img {
	width: 60%;
	border-radius: 50%;
}






.votes_wrap {
	width: 50vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.votes {
	display: flex;
	flex-direction: column;
}

.question_text {
	padding: 20px;
}

.single_question_person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 80px;
  position: relative;
  .text {
    padding-left: 20px;
  }
  .user_box {
  	display: flex;
  }

}

.box {
	border: 1px solid $gray;
}

.add_answer {
	border: 1px solid $darken_gray;
	padding: 5px;
	width: 180px;
	height: 30px;
	left: calc(50% - 50px);
	margin-top: -15px;
	position: absolute;
	z-index: 1;
	background-color: $base-color;
}





/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
