<div class="wrapper">
  <div class="questions">
    <div class="question">
      <div class="question_person">
        <img class- "image" src="https://randomuser.me/api/portraits/women/0.jpg">
        <div class="text">
          <div class="author_box">
            <span class="author">Eva</span>
            <span class="gray">IS ASKING</span>
          </div>
          <span class="title">Will inslulin make my patient gain weight?</span>
        </div>

      </div>
    </div>
    <div class="question_body">
      <div class="question_header">

        <div class="answers">
          <div class="asked">
            <hr>
            <span>ASKED</span>
          </div>
          <div class="answer more">
            <span class="number">3</span>
            <div class="bottom">
              <span>more <br>activites</span>
            </div>
          </div>
          <div class="answer">
            <img src="https://randomuser.me/api/portraits/med/men/82.jpg">
            <div class="bottom">
              <hr>
              <span class="status">Commented</span>
            </div>
          </div>
          <div class="answer">
            <img src="https://randomuser.me/api/portraits/med/men/82.jpg">
            <div class="bottom">
              <hr>
              <span class="status">Commented</span>
            </div>
          </div>
          <div class="answer">
            <img src="https://randomuser.me/api/portraits/med/men/82.jpg">
            <div class="bottom">
              <hr>
              <span class="status">Commented</span>
            </div>
          </div>
          <div class="answer">
            <img src="https://randomuser.me/api/portraits/med/men/82.jpg">
            <div class="bottom">
              <hr>
              <span class="status">Commented</span>
            </div>
          </div>
        </div>
      </div>
      <div class="question_additional__info">
        <ul>
          <li>Related disc</li>
          <li>3 peers involved</li>
          <li>3 conv</li>
        </ul>
      </div>
    </div>
  </div>
</div>